@font-face {
    font-family: Circular-Std-Book;
    src: url(../assets/fonts/circular-std-book-cufonfonts-webfont/CircularStd-Book.woff) format("woff");
    /*font-weight: 400;*/
    /*font-style: normal*/
}

@font-face {
    font-family: Circular-Std-Bold;
    src: url(../assets/fonts/circular-std-book-cufonfonts-webfont/CircularStd-Bold.woff) format("woff");
}

body {
    display: flex;
    flex-direction: column;
}



.electricity-box {
   display: flex;
   align-items:center;
   margin-left: 30%;
}

.map-container {
    flex-grow: 1;
    position: inherit;
    display: flex;
    flex-direction: column;
}

.map-container .row {
    flex-grow: 1;
}

.mapboxgl-ctrl-group > button {
    width: 50px;
    height: 50px;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.top-overlay {
    /*position: absolute;*/
    position: inherit;
    float: left;
    width: 100%;
    z-index: 100;
    background: #FAFAFA;
    /* padding-top: 1vh;
    padding-bottom: 1vh; */
}

.image-button:before {
    content: "";
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-right: 0px;
    vertical-align: text-top;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
}

.center-helper {
    margin: auto;
    /*max-width: 300px;*/
}

.top-overlap-nav {
    height: 4em;
}

#top-overlay-center-spacer {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: -1;
    position: relative;
}

.top-overlay div {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-right-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    padding: 0px 0px 0px 0px;
    z-index: 101;
    background: #2D4959;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
}

.instructions-resume div {
    display: inline;
    flex-grow: 1;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.instructions-resume {
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    margin: 1rem;
}

.instructions-resume-electric div {
    display: inline;
    flex-grow: 1;
    text-align: center;
}

.instructions-resume-electric {
    display: flex;
    flex-direction: row;
    font-size: 1.1rem;
}

#sidebar-right-container .container-fluid {
    flex: 0 0 1%;
}

#sidebar-right-content {
    flex: 1 0 1%;
    display: flex;
    flex-direction: column;
}

#sidebar-right-container.hidden-sidebar {
    width: 0px;
}

.bottom-right-floating-buttons {
    position: absolute;
    right: 10px;
    bottom: 20px;
    z-index: 102;
}

.bottom-left-floating-buttons {
    position: absolute;
    left: 10px;
    bottom: 20px;
    z-index: 102;
}

.bottom-center-floating-buttons {
    position: absolute;
    left: 50%;
    bottom: 20px;
    z-index: 102;
}

#btnAddToHomescreen {
    display: none;
}


#sidebarHamburger {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 0.5rem 0.5rem 0.5rem 0.65rem;
}

#swap-origin-destination-button:before {
    background-image: url(icons/baseline-swap_vert-24px.svg);
}

#sidebarHamburger:before {
    background-image: url(icons/ic_menu_black_24px.svg);
}

#sidebarClose:before {
    background-image: url(icons/ic_clear_white_24px.svg);
}

.btn {
    background-color: #FAFAFA;
    border: none;
}

.btn-close {
    background-color: #2D4959;
    border: none;
}

.btn:hover {
    background-color: #2D4959;
}

.form-control {
    border: none;
    background-color: #FAFAFA;
    border-radius: 0;
}

.route {
    background-color: #2D4959;
    color: #00808B;
    text-align: center;
    cursor: pointer;
    width: 33%;
    border-radius: 0px;
    font-size: 90%;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 3px;
    padding-top: 3px;
    /*flex-grow: 1;*/
}

.route svg path {
    fill: #00808B;
    stroke: #00808B;
}

.route svg polyline,
.route svg circle {
    stroke: #00808B;
}


.profile-explanation-icons {
    text-align: center;
}

.profile-explanation-icons div img {
    width: 60%;
    padding: 0%;
    margin: 7%;
    background-color: #ffffff;
    border-radius: 90%;
}
.non-active {
    background-color: #ffffff !important;
    opacity: 0.3 !important
}


.profile-explanation-icons div {
    width: 48%;
    display: inline-block;
    vertical-align: top;
    position: relative;
}


.profile-explanation-icons div img {
    width: 110%;
}

.profile-explanation-icons div div .indicator {
    border-radius: 100%;
    background-color: white;
    height: 30%;
    position: absolute !important;
    top: 0;
    right: -40%;
    width: auto;
    padding: 8%;

}

.profile-explanation {
    font-family: Circular-Std-Book, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

.profile-explanation h4 {
    font-family: Circular-Std-Bold, sans-serif;
}

.profile-explanation-overview {
    margin-left: 20px;
    margin-right: 20px;
}

.profile-explanation p {
    min-height: 20%;
    text-align: center;
}

.route:hover path, .route:hover polyline {
    fill: white;
    stroke: white;
}

.route:hover circle {
    stroke: white;
}

.svg {
    fill: #2D4959;
}

.active {
    color: white;
    background-color: #00808B;
}


.active svg path {
    fill: #ffffff;
    stroke: #ffffff;
}

.active svg polyline,
.active svg circle {
    stroke: #ffffff;
}

.active circle {
    stroke: white;
}

.route:hover {
    background-color: #00808B;
    color: white;
}

/*.currentLocation {*/
.right-addon {
    display: flex;
    align-items: center;
}

#sidebar-top, #top-overlay-profile-buttons-mobile {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 4rem;
    flex-shrink: 0;
    z-index: 1;
}

#sidebar-top-spacer{
    padding: 0px 0px 0px 0px;
}

.card, .card-header {
    background-color: #00808B;
    border: none;
}

.route-instructions, .collapse, .collapsing {
    overflow-y: auto;
    background-color: #00808B;
    color: white;
    list-style: none;
    overflow-x: hidden;
}

.instruction-accordion {
    background-color: white;
    color: #2D4959
}

.download-button-back {
    display: flex; 
    align-items: center; 
    margin-left: 25%;
    margin-bottom: 20px;
    height: 60px;
}

.download-button {
    background-color: #2D4959;
    width: 180px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.download-button svg {
    width: 15%;
    height: 15%;
    margin-right: 10px;
}

.download {
    fill: white;
    stroke: white;
}

.button-collapse-instructions {
    width: 100%;
    color: #2D4959;
    border-radius: 0px;
}

.lang_label {
    color: #2D4959;
}

.btn-warning.focus {
    box-shadow: 0 0 0 0 #00808B;
}

.button-collapse-instructions:hover, .lang_label:hover {
    color: white;
}

.btn-group-toggle .active {
   color: white !important;
}


.bottom-left-floating-buttons button {
    color: #2D4959;
    border: 1px solid #2D4959;
    padding: 2px 5px 2px 2px;
}

.bottom-center-floating-buttons button {
    color: #2D4959;
    border: 1px solid #2D4959;
    padding: 2px 5px 2px 2px;
}

.btn-group-toggle {
   border: 0.3rem solid #00808B;
   border-radius: .3rem;
}

.btn-warning:not(:disabled):not(.disabled).active {
    background-color: #2D4959;
    border-color: #2D4959;
    color: white;
}

.btn:focus,.btn:active {
   outline: none !important;
}


.bottom-left-floating-buttons button img {
    padding: 0px 0px 0px 0px;
    margin-right: 2px
}

.bottom-center-floating-buttons button img {
    padding: 0px 0px 0px 0px;
    margin-right: 2px
}

li {
    border-bottom: 1px solid white;
    padding: 1.5rem;
}

ul {
    list-style-type: none;
    padding: 0px;
}

input[type="text"], textarea {
    outline: none;
    box-shadow: none !important;
}

@media only screen and (min-width: 768px) {
    @media only screen and (max-width: 992px) {
        .col-md-0 {
            display: none;
            /*width: 0px;*/
        }
    }
}

#top-overlay-profile-buttons-mobile {
    display: none;
}

@media only screen and (max-width: 767px) {
    body {
        font-size: 1rem;
        line-height: 1;
    }

    .mapboxgl-ctrl-group > button {
        width: 40px;
        height: 40px;
    }

    #swap-origin-destination-button {
        top: 50%;
        position: relative;
    }

    .top-overlay {
        background-color: #00808B;
        padding-bottom: 0px;
        padding-top: 0px;
    }
    
    .btn-export {
        font-size: 0em;
        padding: 2px 2px 0px 2px;
    }

    #top-overlay-input {
        margin-bottom: 5vh;
    }

    .card {
        margin-bottom: 50px;
    }

    #top-overlay-profile-buttons-mobile {
        display: flex;
    }

    .form-control {
        line-height: 1;
    }
}

.card-body {
    padding-top: 0px;
}

/* enable absolute positioning */
/*.currentLocation {*/
.right-addon {
    position: relative;
}

/* style icon */
.currentLocation img, #clearInputFieldToButton {
    position: absolute;
    padding: 10px;
    width: 2.8rem;
}

/* align icon */
.left-addon img {
    left: 0px;
}

.right-addon img {
    right: 0px;
}

/* add padding  */
.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
    font-size: .85em;
}

/*.dropdown-menu {
    display: block !important;
}*/

.type-stop {
  border-bottom: none;
}

#chart-fast {
  margin-top: 20px;
  margin-bottom: 20px;
}

.route-instructions ul {
    margin-left: 5px;
}

.route-instructions ul li {
    background-size: 40px;
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 45px;
    display: block;
}

.angle-Right {
    background: url("./icons/ic_turnRight_white.svg") no-repeat left 9px;
}

.angle-Left {
    background: url("./icons/ic_turnLeft_white.svg") no-repeat left 9px;
}

.angle-StraightOn {
    background: url("./icons/ic_straightOn_white.svg") no-repeat left 9px;
}

.angle-SlightlyRight {
    background: url("./icons/ic_slight_turnRight_white.svg") no-repeat left 9px;
}

.angle-SlightlyLeft {
    background: url("./icons/ic_slight_turnLeft_white.svg") no-repeat left 9px;
}

.startpoint-li {
    background: url("./icons/currentLocation_white.svg") no-repeat left 9px;
    /*background-repeat: no-repeat;
    background-size: 12px;
    margin-left: 20px;
    margin-right: 20px;*/
}

.endpoint-li {
    background: url("./icons/ic_location_on_black_24px.svg") no-repeat left 9px;
    /*background-repeat: no-repeat;
    background-size: 24px;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: none;*/
}

#clearInputFieldFromButton, #clearInputFieldToButton {
    display: none;
}

.profile-summary-explanation {
    margin: auto;
    margin-top: 40%;
    width: 90%;
    padding: 10px;
    text-align: center;
}

.profile-summary {
    height: 100%;
    background-color: #00808B;
    color: #b3d9dc;
    font-size: 10px;
}

.profile-summary svg {
    height: 25%;
    width: 25%;
}

.profile-summary svg path {
    fill: white;
    stroke: white;
}

.profile-summary svg polyline,
.profile-summary svg circle {
    stroke: white;
}

.electricity path {
    fill: white;
    stroke: white;
}

.electricity-box svg {
    height: 15%;
    width: 15%;
    margin-right: 5px;
}

.time-electric {
    font-size: 0.6em;
}

.profile-summary h5 {
    margin: 20px;
    font-size: 1rem;
    font-weight: 400;
}

.location-circle {
    height: 30px;
    width: 30px;
}

.location-circle-container {
    position: relative;
    text-align: center;
    color: #2D4959;
    padding-top: 7px;
}

.location-circle-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.location-input-group {
    padding-left: 0px;
    padding-right: 5px;
    border-bottom: 3px solid #2D4959 !important;
}

.height-zero {
    height: 0px;
    display: none;
}

.marker {
    background-image: url('../assets/img/circle.svg');
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
  }
  