body {
    margin: 0;
    padding: 0;
    letter-spacing: -0.03em;
}

#map {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
}

.detailViewContainer {
    height: 100vh;
    width: 100%;
    position: absolute;
    display: none;
    font-family: Karla, sans-serif;
}

.detailViewSummary {
    background-color: #28A987;;
    font-size: x-large;
    font-weight: bold;
    color: white;
    height: 4cm;
    text-align: center;
}

.detailViewScroller {
    background-color: #28A987;;
    margin-top: calc(calc(100vh - 100px) - 4cm);
    padding-bottom: 110px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    border-radius: 5px;
}

.detailViewItinerary {
    font-size: large;
    color: white;
    background-color: unset;
    padding-left: 5px;
    padding-right: 5px;
    border-top: 1px solid white;
    padding-top: 20px;
}

.tabsContainer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: unset;
    z-index: 2;
}

.tab {
    flex: 1;
    position: relative;
    /*border-top: 1px solid #00808B;
    border-right: 1px solid #00808B;
    border-left: 1px solid #00808B;*/
    text-align: center;
    height: 100px;
    border-radius: 5px 5px 0 0;
    background-color: white;
    font-family: Karla, sans-serif;
}

.tab:hover {
    background-color: #28A987;
}

.tab.selected {
    background-color: #1D9575;
}

.tab img {
    width: 50%;
    max-height: 65%;
    margin: auto;
}

.tab .verticalAligner svg {
    max-width: 100px;
    width: 75%;
    margin: auto;
}

.tab span {
    display: block;
    color: #737373;
}

.tab.selected span, .tab:hover span {
    display: block;
    color: white;
}

.tab svg path {
    stroke: #737373;
}

.tab svg path[fill] {
    fill: #737373;
}

.tab.selected svg path, .tab:hover svg path {
    stroke: white;
}

.tab.selected svg path[fill], .tab:hover svg path[fill] {
    fill: white;
}

.inputCard {
    /*background-color: rgba(0, 0, 0, 0.80);
    border-radius: 25px;*/
    background: #FFFFFF;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
}

.inputCard {
    color: #28A987;
}

label {
    margin: 0px !important;
}

.fromInput, .toInput, .timeInput {
    padding-left: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}

#fromInput, #toInput, #timeInput, #dateInput {
    background: #FFFFFF;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.15);
    border: none;
}

.form-control{
    padding-right: 25px !important;
}

.fromInput {
    padding-top: 10px;
}

.fromInput, .toInput{
    position: relative;
}

.berekenRouteBtn {
    margin-bottom: 10px;
    background-color: #28A987 !important;
    border-color: #28A987 !important;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.15) !important;
}

.berekenRouteBtn:hover {
    color: #fff;
    background-color: #228565 !important;
    border-color: #134c39 !important;
}

.berekenRouteBtn:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #228565;
    border-color: #228565;
}

.berekenRouteBtn:focus {
    box-shadow: 0 0 0 0.2rem rgba(51, 180, 117, 0.5) !important;
    border-color: #32e79c;
}

.testMap{
background-color: pink;
}

#clearInputFieldToButton, #clearInputFieldFromButton {
    padding: 10px;
    width: 2.5rem;
    position: absolute;
    right: 8px;
    top: 4px;
    cursor: pointer;
}

#clearInputFieldFromButton, #clearInputFieldToButton {
    display: none;
}

::-webkit-scrollbar {
    display: none;
}

.itineraryContentContainer {
    position: relative;
}

.itineraryVehicle, .itineraryStop {
    /*border-left: 3px solid white;
    padding-left: 20px;
    margin-left: 20px;*/
}

.itineraryContentContainer td {
    position: relative;
}

.itineraryVehicle td:nth-of-type(2), .itineraryStop td:nth-of-type(2) {
    width: 30px;
}

.circle {
    position: relative;
    z-index: 1;
    left: calc(50% - 6px);
}

.line {
    left: 50%;
    height: 50%;
    position: absolute;
}

.line.top-line {
    top: 0;
}

.line.bottom-line {
    bottom: 0;
}

td .dotted line {
    stroke-dasharray: 2,5;
    stroke-linecap: round;
    stroke-dashoffset: 1;
}

.itineraryVehicle svg.line, .itineraryStop svg.line {
    /*position: absolute;*/
    /*position: relative;
    left: -27px;*/
}

.marker {
    background-image: url('../img/icons/maps-and-flags.svg');
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 2.2;
    text-align: center;
}

#clearRouteButton {
    position: absolute;
    left: 20px;
    top: 4px;
    padding: 12px;
}

.facilityIcon{
    width: 1.5rem;
    margin-left: 0.5em;
}

.summaryFacilityIconElement{
    width: 2rem;
    padding: 2px;
}

.detailViewSummaryFacts {
    display: flex;
    flex-direction: row;
    /*margin: 20px;*/
    padding: 20px 20px 5px;
}

.detailViewSummaryFacts div {
    flex: 4;
    text-align: left;
    min-height: 28px;
    white-space: nowrap;

    font-family: Karla, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #FFFFFF;
}

.detailViewSummaryFacts div:last-child {
    flex: 3;
}

.detailViewSummaryFacts .summaryTitle {
    min-height: initial;
    font-family: Karla, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;

    color: rgba(255, 255, 255, 0.5);
}

.detailViewSummaryIconContainer {
    padding: 0 20px 0 20px;
    text-align: center;
    white-space: nowrap;
    min-height: 42px;
    font-family: Karla, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}

#clearRouteButton path {
    stroke: black;
}

#clearRouteButton:hover path {
    stroke: grey;
}

.verticalAligner {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.itineraryStartFieldTime, .itineraryFinishFieldTime {
    margin-right: 1em;
}

.pageHeader {
    position: absolute;
    top: 0;
    left: calc(calc(50% - 10vw) + 20vw);
    transform: translate(-50%, 0);
    z-index: 1031;
    width: 40%;
    background-color: white;
    color: #28A987;
    font-family: Karla, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px -7px 21px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
}

.loaderContainer, .errorContainer {
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #ffffffc7;
}

.loaderContainer svg, .errorContainer svg {
    width: 50%;
    max-height: 50%;
    vertical-align: middle;
    margin-top: 15%;
}

.tab .loaderContainer svg path {
    stroke: #28A987;
}

.tab .loaderContainer svg path[fill], .tab .errorContainer svg path {
    fill: #28A987;
}

.errorContainer, .loaderContainer {
    display: none;
}

.tab .errorContainer svg path {
    fill: gray;
    stroke: none;
}

@media (min-width: 992px) {
    #inputCard {
        right: unset;
        bottom: unset;
        top: 0;
        width: 20vw;
        min-width: 400px;
        height: 5.5cm;
    }

    .detailViewContainer, .tabsContainer, #inputCard {
        width: calc(200px + 15vw);
        min-width: 300px;
        display: initial;
    }

    .detailViewContainer {
        background-color: #28A987;
    }

    .tabsContainer {
        display: flex;
    }

    .detailViewScroller {
        margin-top: 5.5cm;
    }

    #clearRouteButton, .scrollableIcon {
        display: none;
    }

    .pageHeader {
        position: fixed;
    }
}

@media (max-width: 992px) {
    .mobileVisible {
        display: unset;
    }

    .mobileFlex {
        display: flex;
    }

    .mobileHidden {
         display: none;
     }

    .pageHeader {
        width: 100%;
        left: 50%;
    }
}
