body {
    margin: 0;
    padding: 0;
}

#map {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
}

.detailViewContainer {
    height: 100vh;
    width: 100%;
    position: absolute;
}

.detailViewSummary {
    background-color: #2D4959;
    font-size: x-large;
    font-weight: bold;
    color: white;
    height: 4cm;
}

.detailViewScroller {
    background-color: #2D4959;
    margin-top: calc(calc(100vh - 100px) - 4cm);
    padding-bottom: 110px;
    padding-left: 20px;
    padding-right: 20px;
}

.detailViewItinerary {
    font-size: large;
    color: white;
    background-color: #00808B;
    padding-left: 5px;
    padding-right: 5px;
}

.tabsContainer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background: #2D4959;
}

.tab {
    flex: 1;
    border-top: 1px solid #00808B;
    border-right: 1px solid #00808B;
    border-left: 1px solid #00808B;
    text-align: center;
    height: 100px;
}

.tab img {
    width: 50%;
    max-height: 65%;
    margin: auto;
}

.tab span {
    display: block;
    color: white;
}

.inputCard {
    background-color: rgba(0, 0, 0, 0.80);
    margin: 5%;
    border-radius: 25px;
}

.inputCard {
    color: white;
}

label {
    margin: 0px !important;
}

.fromInput, .toInput, .timeInput {
    padding-left: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}

.fromInput {
    padding-top: 10px;
}

.berekenRouteBtn {
    margin-bottom: 10px;
}

.testMap{
background-color: pink;
}

#clearInputFieldToButton, #clearInputFieldFromButton {
    padding: 10px;
    width: 2.5rem;
}

#clearInputFieldFromButton, #clearInputFieldToButton {
    display: none;
}
